FindAfternoonTea/Service References/MailServiceReference/MailService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FindAfternoonTea.WebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FindAfternoonTea.WebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MailService.MailData">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiverAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="senderAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="subject" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailService.MailData" nillable="true" type="tns:MailService.MailData" />
</xs:schema>