FindAfternoonTea/Service References/MailServiceReference/MailService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://iweb.csie.ntut.edu.tw:9080/final38/WebServices/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FindAfternoonTea.WebServices" />
  <xs:element name="sendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FindAfternoonTea.WebServices" minOccurs="0" name="mailData" nillable="true" type="q1:MailService.MailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>